.main
  .chat-main__group-info
    .chat-name
      test
      .chat-subname
        Member :masa
    %a{ href: '#'}
      Edit

  .chat-main__message-list
    .chat-message
      .MessageInfo-name
        masa
      .MessageInfo-date
        2020/7/6(mon)17:59:00
    .MessageInfo 
      .MessageInfo-lists
        おはよう！
    .chat-message
      .MessageInfo-name
        masa
      .MessageInfo-date
        2020/7/6(mon)17:56:01
    .MessageInfo
      .MessageInfo-lists
        今日は夜から南
  .footer
    .chat-main__message-form
      .message-form
        %input.input-text{:placeholder => "type a message", :type => "text"}/
        %input.sub{:type => "submit", :value => "Send"}/
        %label{class: "input-box__image"}
          =icon('fas', 'image')
          %input.hidden{type: "file"}