.side-bar
  .side-bar__top-items
    .side-bar__top-items__side-box
      .side-bar__top-items__side-box__name masa
      .side-bar__top-items__side-box__icons
        %ul.Leftheader
          %li.Leftheader__iconList
            = icon('fas', 'edit')
          %li.Leftheader__iconList
            = icon('fas', 'cog')

  .side-bar__group
    .side-bar__group__name
      .side-bar__group__name__nameList
        techcamp
      .side-bar__group__name__message 
        新着メッセージがありません
      