.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        .side-box
          .side-name
            masa
          .top-icons
            %ul.Leftheader
              %ll.Leftheader__iconList
              = icon('fas', 'edit')
              %ll.Leftheader__iconList
              = icon('fas', 'cog')

  .side-bar__group-list
    .group-name
      .group-nameList techcamp
      .group-message 新着メッセージがありません
      