* {
  box-sizing: border-box;
}

.Wrapper{
  display: flex;
}
.side-bar {
  width: 300px;
  &__top-items {
    background-color: #253141;
    height:100px;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__side-box {
      width: 260px;
      display: flex;
      justify-content: space-between;
      background-color: #253141;
      &__name{
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
      }
  
      &__icons{
        width: 60px;
        background-color: #253141;
        display: flex;
        justify-content: end;
        .Leftheader{
          margin: 0;
          padding: 0;
          list-style: none;
          margin-left: 25px;
          color: #ffffff;
          display: flex;
          justify-content: end;
          a{
            color: #fff;
          }
          &__icon-List{
            margin-left: 5px;
          }
        }
      }
    }
  }
}
.side-bar__group{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  width: 300px;
  &__name{
    &__nameList{
      color: #ffffff;
      font-weight: bold;
      padding-top:20px;
      padding-bottom: 5px;
      padding-left: 20px;
      font-size: 15px;
    } 
    &__message{
    color: #ffffff;
  font-weight: bold;
  padding-left: 20px;
  font-size: 11px;
    }
  }
}

.chat-main{
  &__group-info{
    height: 100px;
    background-color:#ffffff;
    display: flex;
    justify-content: space-between;
    &__name{
      padding-top: 35px;
      padding-bottom: 15px;
      font-size: 20px;
      color: #333333;
      padding-left: 40px;
      &__sub{
        color: #999999;
        font-size: 12px;
        margin-top: 15px;
      }
    }
    &__edit{
      border: 1px solid #38aef0;
      padding:0 20px;
      margin: 30px;
      line-height: 40px;
      height: 40px;
      color: #38aef0;

      a{
        color: #38aef0;
        list-style: none;
        text-decoration: none;
      }
    }
  }
}

  .chat-list{
    width: calc(100vw - 300px);
    background-color:#fafafa;
    padding: 35px 40px 0;
    height: calc(100vh - 100px - 90px);
    overflow : scroll;
    &__main{
      display: flex;
    }
    &__message{
      height: calc(100vh - 100px - 90px);
      &__Info-name{
        // padding-left: 40px;
        color: #333333;
        padding-bottom: 12px;
        font-size: 16px;
        height: 35px;
        font-weight: bold;
      }
      &__Info-date{
        color: #999999;
        font-size: 12px;
        padding-left: 40px;
      }
    &__Info{
      &__lists{
        color: #434A54;
        font-size: 14px;
        padding-left: 40px;
        padding-bottom: 46px;
      }
    }
    }
  }

  .footer{
    padding: 20px 50px 20px 40px;
    height: 90px;
    background-color: #d2d2d2;
    &__message-form{
      width: 100%;
      position: relative;
      .footer__inputContent{
        height: 40px;
        padding: 0 45px 0 15px;
        width: 100%;
      }
    }
    .Form{
      display: flex;
  }

    .footer__submit{
      background-color: #38aef0;
      color: #ffffff;
      border: none;
      padding: 0 30px;
      font-size: 16px;
      height: 40px;
    }
  }

  .footer__icon{
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .hidden{
  }
  .Hidden{
  display: none;
  }